<div *ngIf="details" class="container">
    <img [src]="details.snippet.thumbnails.maxres.url" alt="">
    <div class="col-12 d-flex justify-content-between">
        <h4>{{details.snippet.title}}</h4>
        <button mat-raised-button>Add to favourite</button>
    </div>
    <div class="col-12 d-flex justify-content-between">
        <p class="d-flex">Rate Now <bar-rating [(rate)]="rate" [max]="5"></bar-rating>
        </p>
        <p>Duration: {{ duration | slice:2}}</p>
        <div>
            <span>
                <mat-icon matSuffix>remove_red_eye</mat-icon>{{views}}
            </span>
            <span>
                <mat-icon matSuffix>thumb_up</mat-icon>{{likes}}
            </span>
        </div>
    </div>
    <div class="col-12">
        <p class="text-danger">Published date: {{details.snippet.publishedAt | date}}</p>
        <p>{{details.snippet.description}}</p>
    </div>
</div>